@inherits LayoutComponentBase

<PageTitle>Dotnet.Blazor.ServerApp.Sample</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main container">
        <div class="content px-4 container">
            @Body
        </div>
    </div>
</div>
